@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



:root {
    --orange-color: #ffad3b;
    --button-color: gold;
    --text-color: #261147;
    --white: #F0FFFF;
    --box-shadow: 0 0 1rem .2rem rgba(0, 0, 0, 0.1);
    --border: .1rem solid rgba(0, 0, 0, .1);
    --black: #101010;

}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 5rem;

}

html::-webkit-scrollbar-track {
    background: transparent;
}

section {
    padding: 3rem 8%;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
    border-bottom: var(--border);
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, .1);
    background: #E0FFFF;
}

header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}

header .logo span {
    color: var(--orange-color);
}

header .logo i {
    margin: 0 .5rem;
    font-size: 2.5rem;
}

header .navbar a {
    color: var(--black);
    font-size: 1.7rem;
    margin: 0 1.2rem;

}

header .navbar a:hover {
    color: var(--orange-color);
    border-bottom: .1rem solid var(--text-color);
    padding-bottom: .4rem;


}

header .buttons div {
    font-size: 2.5rem;
    margin: 0 1rem;
    color: var(--text-color);
    cursor: pointer;
}

header .buttons div:hover {
    color: var(--orange-color);
}

#bars-btn {
    display: none;
}

header form {
    width: 35rem;
    position: absolute;
    top: 105%;
    right: 10rem;
    border-radius: .5rem;
    background: #f6fdff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header form.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header form .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #f6fdff;
    border: var(--border);

}

header form input {
    width: 100%;
    padding: 1.2rem;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--black);
    background: transparent;
}

header form .box i {
    margin: 0 .7rem;
    cursor: pointer;
    font-size: 2rem;
    animation: sai-1 2s linear infinite;
}

@keyframes sai-1 {
    0% {
        transform: rotate(-90deg);
        color: var(--orange-color);
    }
}

header form .box i:hover {
    color: var(--orange-color);
}

.btn {
    display: inline-block;
    padding: 1.3rem 3rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    color: var(--black);
    background: var(--button-color);
    font-weight: 500;
    margin-bottom: 2rem;
    border: var(--border);

}

.btn:hover {
    background: var(--orange-color);
}

.account-form {
    position: fixed;
    width: 40rem;
    right: -100rem;
    overflow: hidden;
    z-index: 1300;
    min-height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background: #E0FFFF;
    padding: 2rem;
    border-left: var(--border);
}

.account-form.active {
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, .9);
}

.account-form i {
    font-size: 4rem;
    color: var(--black);
    position: absolute;
    top: 2rem;
    right: 5rem;
    cursor: pointer;
    animation: spi-2 .8s linear infinite;
}

.account-form i:hover {
    color: var(--orange-color);
}

@keyframes spi-2 {
    0% {
        transform: rotate(180deg);
    }
}

.account-form form {
    border: .1rem solid var(--orange-color);
    width: 35rem;
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    display: none;
}

.account-form form.active {
    display: block;
}

.account-form form .form-text {
    font-size: 3rem;
    color: var(--orange-color);
    font-weight: 400;
    margin-bottom: 2rem;
}

.account-form form #box-2 {
    width: 100%;
    padding: 1rem .5rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1.5rem;
    background: transparent;
    border: .1rem solid var(--orange-color);

}

.account-form form .text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: var(--black);
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: lighter;
}

.account-form form a {
    text-decoration: underline;
}

.account-form form .text-box a:hover {
    color: var(--orange-color);
}

.account-form .btn-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
}

.account-form form .btn {
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    background: transparent;
    border: .1rem solid var(--orange-color);
}

.account-form form .btn:hover {
    background: var(--orange-color);
}

.account-form .btn-1 .btn {
    background: transparent;
    border: .1rem solid var(--orange-color);
}

.account-form .btn-1 .btn.active {
    background: var(--orange-color);
    color: #E0FFFF;
}

.home {
    text-align: center;
    padding-top: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-flow: column;
    flex-flow: column;
    cursor: pointer;
}

.home img {
    width: 100%;
    object-fit: cover;
    margin: 1rem 0;
}

.home .home-headding {
    font-size: 7vw;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
}

.home .home-headding span {
    color: var(--orange-color);
    text-transform: uppercase;
}

.home .btn {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
    letter-spacing: .2rem;
}


.icons-container {
    background: #F0F8FF;
}

.icons-container .box-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    padding: 3rem 0;
}

.icons-container .box-container .box {
    background: #FFFFE0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    padding: 2rem;
    height: 12rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.icons-container .box-container .box:hover {
    background: var(--text-color);
    cursor: pointer;
}

.icons-container .box-container .box:hover i {
    background: var(--button-color);
}

.icons-container .box-container .box:hover .box-text h3 {
    color: #ffff;
}

.icons-container .box-container .box:hover .box-text span {
    color: #ffff;
}


.icons-container .box-container .box i {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 50%;
    color: var(--text-color);
    background: var(--orange-color);
}

.icons-container .box-container .box .box-text {
    text-align: left;
}

.icons-container .box-container .box .box-text h3 {
    color: var(--orange-color);
    font-size: 3rem;
}

.icons-container .box-container .box .box-text span {
    color: var(--black);
    font-size: 1.5rem;
}

.headding {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--black);
}

.headding span {
    position: relative;
    z-index: 0;
}

.headding span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--button-color);
    z-index: -1;
    left: 0;
    bottom: 1rem;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);

}


.vehiclse .vehiclse-slider {
    margin-bottom: 5rem;
}

.vehiclse .vehiclse-slider .box {
    text-align: center;
}

.vehiclse .vehiclse-slider .box img {
    width: 100%;
    object-fit: cover;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    opacity: .5;
}

.vehiclse .vehiclse-slider .box .content {
    -webkit-transform: scale(0);
    transform: scale(0);
    padding-top: 1rem;
}

.vehiclse .vehiclse-slider .swiper-slide-active .content {
    transform: scale(1);
}

.vehiclse .vehiclse-slider .swiper-slide-active img {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.vehiclse .box .content h3 {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
}

.vehiclse .box .content .price span {
    color: var(--black);
    font-size: 1.7rem;
}

.vehiclse .vehiclse-slider .content .price {
    font-size: 3rem;
    color: var(--button-color);
    border-bottom: var(--border);
}

.vehiclse .vehiclse-slider .content p {
    font-size: 1.7rem;
    color: #555;
    margin: 1rem 0;
}

.vehiclse .vehiclse-slider .content p span {
    color: var(--orange-color);
    font-size: 1.5rem;
}

.vehiclse .vehiclse-slider .content .btn {
    padding: .7rem 3rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--button-color);
}

.headding-2 {
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.headding-2 span {
    position: relative;
    z-index: 0;
}

.headding-2 span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: chartreuse;
    left: 0;
    bottom: 1rem;
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
}

.services .box-container {
    display: -ms-grid;
    display: grid;
    -webkit-grid-columns: repeat(minmax(26rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 2rem;
}

.services .box-container .box {
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

.services .box-container .box i {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 3rem;
    color: var(--text-color);
    background: var(--orange-color);
    border-radius: 50%;
}

.services .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    padding-top: 1rem;
}

.services .box-container .box p {
    font-size: 1.5rem;
    color: #555;
    line-height: 2;
    padding: 1rem 0;
}

.services .box-container .box .btn {
    padding: .7rem 3rem;
    margin-top: 1rem;
}

.services .box-container .box:hover h3 {
    color: #ffffff;
}

.services .box-container .box:hover p {
    color: #ffffff;
}

.services .box-container .box:hover {
    background: var(--text-color);
    cursor: pointer;

}

.services .box-container .box:hover i {
    background-color: var(--button-color);
}

.headding-3 {
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.headding-3 span {
    position: relative;
    z-index: 0;
}

.headding-3 span::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #00ffb7;
    position: absolute;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
    bottom: 1rem;
}

.featured .featured-slider {
    padding: 1rem;
    padding-bottom: 4rem;
}

.featured .featured-slider .box {
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
}

.featured .featured-slider .box img {
    height: 15rem;
}

.featured .featured-slider .box:hover img {
    transform: scale(.9);
}

.featured .featured-slider .box .content {
    text-align: center;
    padding: 1rem 0;
}

.featured .featured-slider .box .content h3 {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 600;
}

.featured .featured-slider .box .content .icons i {
    color: var(--orange-color);
    font-size: 1.5rem;
    margin: 0 .2rem;
    padding: 1rem 0;
}

.featured .featured-slider .box .content .price {
    font-size: 3rem;
    color: var(--black);
    font-weight: lighter;
}

.featured .featured-slider .box .btn {
    padding: .7rem 3rem;
    margin-top: 2rem;
}

.featured .swiper-pagination-bullet-active {
    background-color: #00ff1a;
}

.news {
    text-align: center;
    background: url(../image/letter-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 6rem 2rem;
}

.news h3 {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
}

.news p {
    font-size: 1.5rem;
    color: #777;
    line-height: 2;
    padding: .7rem 0;

}

.news form {
    max-width: 60rem;
    background: #fff;
    height: 5rem;
    display: flex;
    margin: 0 auto;
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.news form input[type="email"] {
    width: 100%;
    text-transform: none;
    color: var(--black);
    font-size: 1.5rem;
    padding: 0 2rem;
}

.news form input[type="submit"] {
    height: 100%;
    width: 17rem;
    font-size: 1.7rem;
    color: var(--black);
    background-color: var(--orange-color);
    padding: 1rem;
    cursor: pointer;
}

.news form input[type="submit"]:hover {
    background-color: var(--button-color);
}

.headding-4 {
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.headding-4 span {
    position: relative;
    z-index: 0;
}

.headding-4 span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 1rem;
    background-color: #ff00ff;
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
}

.review .review-slider .box {
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    border-radius: .5rem;
    padding: 2rem;
    background-color: #FFFAF0;
}

.review .review-slider {
    padding: 1rem;
    padding-bottom: 3rem;
}

.review .review-slider img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.review .review-slider .content p {
    font-size: 1.5rem;
    color: #777;
    line-height: 1.7;
    padding: 1rem 0;
}

.review .review-slider .content h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.review .review-slider .content .star {
    padding: 1rem 0;
}

.review .review-slider .content .star i {
    color: var(--orange-color);
    margin: 0 .2rem;
    font-size: 1.7rem;
}

.review .swiper-pagination-bullet-active {
    background-color: #ff00ff;
}

.review .review-slider .box {
    transform: scale(.8);
    opacity: .4;
}

.review .review-slider .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.contact .headding-5 {
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.contact .headding-5 span {
    position: relative;
    z-index: 0;
}

.contact .headding-5 span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff006a;
    z-index: -1;
    left: 0;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
    bottom: 1rem;
}

.contact .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.contact .box-container .map {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 40rem;
    padding: 2rem;
    width: 100%;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.box-container form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    background-color: #FFFAF0;
    text-align: center;
    border-radius: .5rem;
}

.box-container form h3 {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.box-container form #input-box,
.box-container form textarea {
    width: 100%;
    border: var(--border);
    text-transform: none;
    font-size: 1.5rem;
    color: var(--black);
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .1);

}

.box-container form textarea {
    resize: none;
    height: 16rem;
}

.box-container form .btn {
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    letter-spacing: .3rem;
    margin-top: 1rem;
}

.fotter {
    background-color: var(--orange-color);
    padding-bottom: 6rem;
}

.fotter .fotter-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.fotter .fotter-container .box .fotter-text {
    font-size: 2rem;
    color: var(--text-color);
    padding: 1rem 0;
}

.fotter .fotter-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #333;
}

.fotter .fotter-container .box a i {
    padding-right: .5rem;
    color: var(--text-color);
}

.fotter .fotter-container .box a:hover i {
    padding-right: 1.7rem;
}

.fotter .create {
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.fotter .create span {
    color: var(--text-color);
}



@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 2rem;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    html {
        font-size: 53%;
    }

    .headding,
    .headding-2,
    .headding-3, .headding-4,
    .headding-5 {
        font-size: 4rem;
    }

    #bars-btn {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        background-color: #faf0ff;
        left: 0;
        right: 0;
        border-top: var(--border);
        padding: 2rem;
        z-index: 1250;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 ,0 0);
    }
    header .navbar.active{
        clip-path:polygon(0 0 , 100% 0 , 100% 100% , 0 100%) ;
    }
    .buttons{
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    header .navbar a {
        display: block;
        text-align: center;
        border: .1rem solid var(--black);
        margin-top: 1rem;
        /* letter-spacing: .4rem; */
        font-weight: 600;
    }
    header .navbar a:hover{
        color: var(--orange-color);
        letter-spacing: .4rem;
    }
    #bars-btn.fa-times{
        transform: rotate(180deg);
    }
    header form{
        width: 40rem;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}

@media (max-width:450px) {
    .headding,
    .headding-2,
    .headding-3, .headding-4,
    .headding-5 {
        font-size: 2.9rem;
    }
    html{
        font-size: 49%;
    }

}